#dependency {
	width: 600px;
	min-width: 1200px;
	-moz-column-count: 3;
	-moz-column-gap: 8px;
}

#dependency * {
	transition: all 0.3s;
	box-sizing: border-box;
}

.module {
	/* border: 1px solid #EEEEEE; */
	margin-bottom: 8px;
	box-shadow: 0px 0px 3px #CCC;
}

.module>.header {
	position: relative;
	height: 30px;
	width: 100%;
	background-color: #EEEEEE;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 14px;
	line-height: 30px;
	padding-left: 10px;
}

.module>.list {
	margin-top: 5px;
}

.symbol {
	/* border: 1px solid #EEEEEE; */
	height: 28px;
	line-height: 18px;
	margin-bottom: 5px;
	padding: 2px;
	padding-left: 30px;
	box-sizing: border-box;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	position: relative;
}

.symbol[data-kind='213'] {
	display: none;
}

.symbol>.checkbox {
	position: absolute;
	top: 0;
	left: 3px;
	height: 24px;
	width: 24px;
	background-size: 24px 24px;
	background-image: url(../assets/jsidea-dependency-checkbox-base.png);
}

.symbol[data-dependent='1']>.checkbox {
	background-image:
		url(../assets/jsidea-dependency-checkbox-dependent.png);
}

.symbol[data-checked='1']>.checkbox {
	background-image: url(../assets/jsidea-dependency-checkbox-checked.png);
}

.symbol>.label {
	display: inline;
}

.symbol[data-dependent='1']>.label {
	/* color: #FFFFFF; */
	
}

.symbol[data-checked='1']>.label {
	/* color: #000000; */
	
}