

/* TEST 0 */
.test-0 #view {
	position: static;
}

.test-0 #content {
	position: absolute;
}

.test-0 #a-cont {
	position: static;
	overflow: scroll;
}

.test-0 #b-cont {
	position: absolute;
	overflow: scroll;
}

.test-0 #c-cont {
	position: static;
}

.test-0 #d-cont {
	position: absolute;
	overflow: scroll;
}

/* TEST 1 */
.test-1 #view {
	position: static;
}

.test-1 #content {
	position: static;
}

.test-1 #a-cont {
	position: static;
}

.test-1 #b-cont {
	position: static;
}

.test-1 #c-cont {
	position: static;
}

.test-1 #d-cont {
	position: fixed;
}

/* TEST 2 */
.test-2 #view {
	position: static;
}

.test-2 #content {
	position: static;
}

.test-2 #a-cont {
	position: static;
}

.test-2 #b-cont {
	position: static;
}

.test-2 #c-cont {
	position: static;
}

.test-2 #d-cont {
	position: absolute;
}

/* TEST 3 */
.test-3 #view {
	position: fixed;
}

.test-3 #content {
	position: fixed;
}

.test-3 #a-cont {
	position: fixed;
}

.test-3 #b-cont {
	position: fixed;
}

.test-3 #c-cont {
	position: fixed;
}

.test-3 #d-cont {
	position: fixed;
}

/* TEST 4 */
.test-4 #view {
	position: static;
}

.test-4 #content {
	position: static;
	overflow:scroll;
}

.test-4 #a-cont {
	position: static;
}

.test-4 #b-cont {
	position: static;
	overflow:scroll;
}

.test-4 #c-cont {
	position: static;
}

.test-4 #d-cont {
	position: fixed;
}

html,body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	/* position: absolute; */
}

body * {
	/* box-sizing: border-box;
	left: -2px;
	top: -2px; */
	/* box-sizing: border-box; */
	/* transform-style: flat; */
	/* perspective: 600px; */
	/* transform-style: flat; */
	/* box-sizing: border-box; */
}

body {
	/* transform-origin: 0px 0px;
	perspective-origin: 0 0;
	transform-style: flat; */
	/* transform-style: flat; */
	/* perspective: 600px;
	overflow: hidden;
	perspective-origin: 0px 0px; */
	/* transform-style: preserve-3d; */
	/* transform-style: preserve-3d;
	transform: translateX(128px) rotate(30deg); */
	/* border: 100px solid #FF00FF; */
	/* padding: 50px; */
	/* position: absolute; */
	border: 25px solid #EEEEEE;
	/* transform: rotate(10deg); */
	/* transform: translateX(128px); */
	transform: rotate(10deg);
}

canvas {
	position: fixed;
	/* top: 64px;
	left: 128px; */
	top: 0;
	left: 0;
	/* pointer-events: none; */
	width: 800px;
	height: 800px;
	/* transform: rotate(45deg);
	transform-origin: 0px 0px;
	margin: 10px;
	padding: 10px;
	border: 10px solid #000; */
	background-color: rgba(0, 0, 0, 0.2);
	transition: all 1s;
	pointer-events: none;
	
	/* transform: rotate(45deg); */
	/* box-sizing: border-box; */
}

/* canvas:hover {
	transform: rotateY(5deg) rotate(0deg);
	background-color: rgba(0, 0, 0, 0.5);
	padding: 0px;
	border: 20px solid #FFF;
} */
#view {
	width: 512px;
	height: 512px;
	/* left: 100px;
	top: 100px; */
	border: 55px solid #FF00FF;
	/* perspective: 300px; */
	/* perspective: 400px; */
	/* transform-style: preserve-3d; */
	/* transform: translateX(0); */
	/* transform: rotate(45deg); */
	/* transform: rotate(30deg); */
	/* transform: translateZ(-20px) rotateY(30deg);
	transform-style: flat;
	overflow: hidden; */
	/* transform: translateX(0); */
	/* transform: translateZ(-20px) rotate(30deg); */
	/* transform: translateX(0); */
	/* perspective: 200px; */
	/* transform-style: preserve-3d; */
	/* perspective: 200px; */
	/* transform: translateZ(-20px) rotateY(30deg); */
	/* overflow: scroll; */
	/* box-sizing: border-box; */
	/* box-sizing: border-box; */
	/* perspective: 400px; */
	/* transform-style: preserve-3d; */
}

#content {
	width: 512px;
	height: 512px;
	border: 0px solid #FFFF00;
	margin: 60px;
	/* overflow: scroll; */
	padding: 200px;
	/* transform: translateX(0); */
	/* transform: translateX(0); */
	/* transform: translateX(0); */
	/* transform: translateX(0); */
	/* left: 200px; */

	/* transform: translateZ(-20px) rotateY(-5deg); */
	/* transform: rotate(25deg); */

	/* perspective: 100px; */
	/* transform: translateX(0); */
	/* perspective: 400px; */
	/* transform-style: preserve-3d; */

	/* transform: translateZ(-20px) rotateY(30deg);
	transform-style: preserve-3d;
	
	/* opacity: 0.5; */
	/* transform-style: preserve-3d; */
	/* transform: translateX(0); */
	/* overflow: hidden; */

	/* perspective: 100px; */

	/* box-sizing: border-box; */
	/* perspective: 200px; */
	
	left: 100px;
	border: 20px solid #FFF000;
	/* perspective-origin: 128px 128px;
	transform-style: preserve-3d;
	perspective: 600px; */
}

#a-cont {
	border: 45px solid #00FFFF;
	width: 512px;
	height: 512px;
	
	
	/* left: 100px; */
	/* transform-style: preserve-3d;
	perspective: 600px; */
	/* perspective-origin: 128px 128px; */
	/* transform: translateZ(-20px) rotateY(-5deg)  rotate(40deg); */
	/* transform-style: preserve-3d;
	perspective: 600px; */
	/* transform: translateX(0); */
	/* transform-style: preserve-3d;
	transform: translateZ(-20px) rotateY(-5deg)  rotate(40deg); */
	/*the next two lines should have no effect on the position, because the element is set toe static*/
	left: 100px;
	top: 100px;
	/* overflow: scroll; */
	/* transform: translateX(0); */
	/* transform: rotate(25deg); */
	margin: 20px;
	padding: 100px;
	/* box-sizing: border-box; */
	transform-origin: 0px 0px;
	/* transform: rotateY(-45deg)  rotate(45deg); */
	transform: translateX(128px);
	
	/* perspective: 600px; */
	/* perspective-origin: 128px 128px;
	transform-style: preserve-3d; */
	/* transform: rotate(25deg); */
}

#b-cont {
	border: 35px solid #0000FF;
	width: 512px;
	padding: 45px;
	margin: 20px;
	

	/* box-sizing: border-box; */

	/* transform: translateZ(-20px) rotateY(-5deg)  rotate(40deg); */

	/* transform-style: preserve-3d; */
	/* transform: translateX(200px) rotate(30deg); */

	/* transform: translateX(0); */
	/* overflow: scroll; */
	/* overflow: hidden; */
	/* height: 512px; */
	/* left: 50px; */
	/* transform-style: preserve-3d; */
	/* transform-style: flat; */
	/* transform-style: flat;
	transform: translateZ(-20px) rotateY(15deg);
	perspective: 300px; */
	/* transform: translateZ(-20px) rotateY(15deg) rotate(-20deg); */
	transform-origin: 0px 0px;
	transform: rotateY(45deg) rotate(45deg);
	
	/* perspective: 300px; */
	/* perspective-origin: 64px 128px;
	transform-style: flat; */
	/* perspective-origin: 256px 64px; */
	/* transform-style: preserve-3d; */
}

#c-cont {
	/* overflow: hidden; */
	/* margin: 10px; */
	padding: 20px;
	margin: 10px;
	border: 25px solid #FF0000;
	width: 128px;
	height: 128px;
	cursor: pointer;
	
	transform: rotate(45deg);
	
	transform-origin: 0px 0px;
	/* overflow: scroll; */
	/* transform: translateX(0); */
	/* transform: translateX(0); */
	/* transform: translateX(100px); */
	/* transform: translateZ(-800px) rotate(70deg); */
	/* box-sizing: border-box; */
	
	/* transform-style: preserve-3d;
	transform-origin: 0px 0px;
	transform: rotate(25deg); */
}

#d-cont {
	border: 15px solid #883366;
	width: 256px;
	height: 256px;
	margin: 20px;
	transform-origin: 0px 0px;
	padding: 50px;
	
	transform: rotate(45deg) translateX(64px);
	
	/* left: 64px; */
	
	/* box-sizing: border-box; */
	/* left: 0px; */
	/* left: 100px; */
	/* transform: translateZ(-20px) rotateY(-5deg)  rotate(40deg); */
	/* transform-style: preserve-3d;
	perspective: 600px; */
	/* perspective-origin: 128px 128px; */
	/* transform: translateZ(-20px) rotateY(-5deg)  rotate(40deg); */
	/* transform-style: preserve-3d;
	perspective: 600px; */
	/* margin: 45px; */
	/* padding: 20px; */
	/* overflow: scroll; */
}

/* #d-cont:after {
	overflow: hidden;
	content: " CONTENT-BOX ";
	position: absolute;
	background-color: #EE4587;
	width: 128px;
	height: 128px;
	line-height: 128px;
	text-align: center;
} */