html,body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}

body * {
	/* box-sizing: border-box;
	left: -2px;
	top: -2px; */
	/* box-sizing: border-box; */
	/* transform-style: flat; */
	/* perspective: 600px; */
	/* transform-style: flat; */
	/* box-sizing: border-box; */
}

body {
	/* transform-origin: 0px 0px;
	perspective-origin: 0 0;
	transform-style: flat; */
	/* transform-style: flat; */
	/* perspective: 600px;
	overflow: hidden;
	perspective-origin: 0px 0px; */
	/* transform-style: preserve-3d; */
	/* transform-style: preserve-3d;
	transform: translateX(128px) rotate(30deg); */
	/* border: 100px solid #FF00FF; */
	/* padding: 50px; */
	/* position: absolute; */
}

canvas {
	position: absolute;
	/* top: 64px;
	left: 128px; */
	top: 0;
	left: 0;
	/* pointer-events: none; */
	width: 800px;
	height: 800px;
	/* transform: rotate(45deg);
	transform-origin: 0px 0px;
	margin: 10px;
	padding: 10px;
	border: 10px solid #000; */
	background-color: rgba(0, 0, 0, 0.2);
	transition: all 1s;
	pointer-events: none;
}

/* canvas:hover {
	transform: rotateY(5deg) rotate(0deg);
	background-color: rgba(0, 0, 0, 0.5);
	padding: 0px;
	border: 20px solid #FFF;
} */

#view {
	position: absolute;
	width: 512px;
	height: 512px;
	/* left: 100px;
	top: 100px; */
	border: 65px solid #FF00FF;
	
	/* perspective: 400px; */
	/* transform-style: preserve-3d; */
	
	/* transform: translateX(0); */
	/* transform: rotate(45deg); */
	/* transform: rotate(30deg); */
	/* transform: translateZ(-20px) rotateY(30deg);
	transform-style: flat;
	perspective: 200px;
	overflow: hidden; */
	/* transform: translateX(0); */
	/* transform: translateZ(-20px) rotate(30deg); */
	
	overflow: scroll;
	box-sizing: border-box;
}

#content {
	position: static;
	width: 512px;
	height: 512px;
	border: 55px solid #FFFF00;
	margin: 30px;
	overflow: scroll;
	padding: 15px;
	/* transform: translateX(0); */
	/* transform: translateX(0); */
	/* transform: translateX(0); */
	/* transform: translateX(0); */
	/* left: 200px; */
	
	/* transform: translateZ(-20px) rotateY(-5deg); */
	
	/* perspective: 100px;
	transform-style: preserve-3d; */
	
	/* transform: translateZ(-20px) rotateY(30deg);
	transform-style: preserve-3d;
	
	/* opacity: 0.5; */
	/* transform-style: preserve-3d; */
	/* transform: translateX(0); */
	/* overflow: hidden; */
}

#a-cont {
	position: fixed;
	border: 45px solid #00FFFF;
	width: 512px;
	height: 512px;
	/* left: 100px; */
	/* transform-style: preserve-3d;
	perspective: 600px; */
	/* perspective-origin: 128px 128px; */
	/* transform: translateZ(-20px) rotateY(-5deg)  rotate(40deg); */
	/* transform-style: preserve-3d;
	perspective: 600px; */
	/* transform: translateX(0); */
	
	/* transform-style: preserve-3d;
	transform: translateZ(-20px) rotateY(-5deg)  rotate(40deg); */
	
	/*the next two lines should have no effect on the position, because the element is set toe static*/
	left: 200px;
	top:100px;
	
	overflow: scroll;
	
	/* transform: translateX(0); */
	/* transform: rotate(25deg); */
	margin: 10px;
	padding: 60px;
	box-sizing: border-box;
}

#b-cont {
	position: relative;
	border: 35px solid #0000FF;
	width: 512px;
	padding: 45px;
	margin: 20px;
	
	box-sizing: border-box;
	
	/* transform: translateZ(-20px) rotateY(-5deg)  rotate(40deg); */
	
	/* transform-style: preserve-3d; */
	/* transform: translateX(200px) rotate(30deg); */
	
	/* transform: translateX(0); */
	/* overflow: scroll; */
	/* overflow: hidden; */
	/* height: 512px; */
	/* left: 50px; */
	/* transform-style: preserve-3d; */
	/* transform-style: flat; */
	/* transform-style: flat;
	transform: translateZ(-20px) rotateY(15deg);
	perspective: 300px; */
	/* transform: translateZ(-20px) rotateY(15deg) rotate(-20deg); */
}

#c-cont {
	position: static;
	/* overflow: hidden; */
	/* margin: 10px; */
	padding: 20px;
	margin: 10px;
	border: 25px solid #FF0000;
	width: 128px;
	height: 128px;
	cursor: pointer;
	/* overflow: scroll; */
	/* transform: translateX(0); */
	/* transform: translateX(0); */
	/* transform: translateX(100px); */
	/* transform: translateZ(-800px) rotate(70deg); */
	/* box-sizing: border-box; */
}


#d-cont {
	position: relative;
	border: 15px solid #883366;
	width: 256px;
	height: 256px;
	margin: 20px;
	/* box-sizing: border-box; */
	/* left: 0px; */
	/* left: 100px; */
	/* transform: translateZ(-20px) rotateY(-5deg)  rotate(40deg); */
	/* transform-style: preserve-3d;
	perspective: 600px; */
	/* perspective-origin: 128px 128px; */
	/* transform: translateZ(-20px) rotateY(-5deg)  rotate(40deg); */
	/* transform-style: preserve-3d;
	perspective: 600px; */
	/* margin: 45px; */
	/* padding: 20px; */
	/* overflow: scroll; */
	
}

/* #d-cont:after {
	overflow: hidden;
	content: " CONTENT-BOX ";
	position: absolute;
	background-color: #EE4587;
	width: 128px;
	height: 128px;
	line-height: 128px;
	text-align: center;
} */