#dependency {
	width: 400px;
	min-width: 400px;
	/* -webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	-webkit-column-gap: 8px;
	-moz-column-gap: 8px;
	column-gap: 8px; */
	padding: 10px;
}

#dependency * {
	/* transition: all 0.3s; */
	box-sizing: border-box;
}

.module {
	/* border: 1px solid #EEEEEE; */
	margin-bottom: 8px;
	/* box-shadow: 0px 0px 3px #CCC; */
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
	
}

.module.collapsed .list {
	display: none;
}

.module>.header {
	position: relative;
	height: 30px;
	width: 100%;
	/* background-color: #EEEEEE; */
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 14px;
	line-height: 22px;
	padding: 4px;
	padding-left: 10px;
	border-bottom: 1px solid #EFEFEF;
}

.module>.list {
	margin-top: 5px;
}

.symbol {
	/* -webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid; */
	
	/* border: 1px solid #EEEEEE; */
	height: 12px;
	line-height: 2px;
	margin-bottom: 5px;
	padding: 2px;
	padding-left: 30px;
	padding-right: 5px;
	box-sizing: border-box;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	position: relative;
	border-bottom: 1px solid #EFEFEF;
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.symbol[data-dependent='1'],.symbol[data-checked='1']{
	/* height: 18px;
	line-height: 6px;
	font-size: 16px; */
	color: #FFFFFF;
	background-color: #666666;
}

.symbol>.docs {
	width: 20px;
	height: 8px;
	/* background-color: #EEEEEE; */
	float: right;
	border: 1px solid #EFEFEF;
}

/* interfaces */
.symbol[data-kind='215'] {
	display: none;
}

.symbol>.checkbox {
	position: absolute;
	top: 0;
	left: 3px;
	height: 8px;
	width: 24px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../assets/jsidea-dependency-checkbox-base.png);
}

.symbol[data-dependent='1']>.checkbox {
	background-image:
		url(../assets/jsidea-dependency-checkbox-dependent.png);
}



.symbol[data-checked='1']>.checkbox {
	background-image: url(../assets/jsidea-dependency-checkbox-checked.png);
}

.symbol>.label {
	display: inline;
}

.symbol[data-dependent='1']>.label {
	/* color: #FFFFFF; */
	
}

.symbol[data-checked='1']>.label {
	/* color: #000000; */
	
}