html,body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	transform-origin: 0px 0px;
	perspective-origin: 0 0;
	transform-style: flat;
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
}

#content {
	border: 100px solid #00FF00;
	width: 900px;
	height: 600px;
	position: absolute;
	/* perspective: 600px; */
	/* left: 200px; */
	/* transform: rotateY(20deg); */
	perspective-origin: 256px 256px;
	/* box-sizing: border-box; */
	/* transform-style: preserve-3d; */
}

#a-cont {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.3);
	width: 512px;
	height: 512px;
	/* top: 100px;
	left: 100px; */
	transform-origin: 256px 256px;
	/* transform:  translate3D(0px, 0px, -600px) rotateY(15deg); */
	perspective: 700px;
	perspective-origin: 0px 128px;
	/* perspective-origin: 256px 0px; */
	transform-style: preserve-3d;
	/* transform-style: preserve-3d; */
	border: 40px solid #00FFFF;
}

#b-cont {
	position: absolute;
	background-color: #0000FF;
	opacity: 0.3;
	width: 512px;
	height: 512px;
	transform-origin: 256px 0;
	transform: translate3D(400px, 0px, -800px) rotateY(-15deg);
	/* transform: rotate(15deg); */
	/* transform: translate3D(256px, 256px, -256px) rotateY(15deg); */
	transform-style: flat;
}

#bc-cont {
	position: absolute;
	background-color: #FFFF00;
	width: 64px;
	height: 64px;
	transform-origin: 0px 0px;
	transform: translateX(512px) rotateY(45deg) rotateX(45deg) scale(4);
}